<%= form_with model: edible, class: 'flex flex-col gap-4' do |form| %>
  <%= render "shared/form_errors", resource: edible %>

  <div class='flex flex-col gap-2'>
    <%= form.label :name %>
    <%= form.text_field :name,
                    class: "border-gray-300 border-2 rounded",
                    placeholder: "Enter the product name" %>
  </div>

  <div class='flex flex-col gap-2'>
    <%= form.label :mg_per_serving, "THC (mg per serving)" %>
    <%= form.number_field :mg_per_serving,
                      class: "border-gray-300 border-2 rounded",
                      placeholder: "Enter THC content per serving",
                      min: 1 %>
  </div>

  <div class='flex flex-col gap-2'>
    <%= form.label :strain %>
    <%= form.collection_select :strain,
                           Edible::STRAINS,
                           :to_s,
                           :titleize,
                           { include_blank: "Select the strain type" },
                           class: "border-gray-300 border-2 rounded" %>
  </div>

  <div class='flex flex-col gap-2'>
    <%= form.label :food_type %>
    <%= form.collection_select :food_type,
                           Edible::FOOD_TYPES,
                           :to_s,
                           :titleize,
                           { include_blank: "Select the type of edible" },
                           class: "border-gray-300 border-2 rounded" %>
  </div>

  <div class='flex flex-col gap-2'>
    <%= form.label "Effects" %>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
      <%= form.collection_check_boxes :effect_ids, Effect.all, :id, :name do |b| %>
        <div class="flex items-center gap-2">
          <%= b.check_box(class: "h-4 w-4 text-primary border-gray-300 rounded focus:ring-primary") %>
          <%= b.label(class: "text-sm text-gray-600") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='flex flex-col gap-2'>
    <%= form.label :images, "Additional Images" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div
    data-controller="autocomplete"
    data-autocomplete-url-value="/brands/search"
    role="combobox"
    class="flex flex-col gap-2"
  >
    <%= form.label "Brand" %>
    <input
      class="border-gray-300 border-2 rounded"
      type="text"
      data-autocomplete-target="input"
      placeholder='Who makes the product?'
    />
    <%= form.hidden_field :brand_id, data: { autocomplete_target: "hidden" } %>
    <ul class="list-group relative" data-autocomplete-target="results"></ul>
    <%= link_to "Can't find your brand? Click here to add it!", new_brand_path, class: "text-sm text-primary-600 hover:text-primary-800 mt-1", data: { turbo_frame: "_top" } %>
  </div>

  <%= form.submit "Save changes", class: "bg-primary text-primary-50 rounded p-2" %>
<% end %> 