<div class='flex flex-col gap-12 p-2 bg-primary-50 rounded-md'>
  <div class='flex flex-col md:flex-row gap-6 flex-1'>
    <div class='flex flex-col gap-4'>
      <%= image_tag @edible.images.first.variant(:large) if @edible.images.attached? %>
      <% if @edible.ratings.any? %>
        <%= render 'shared/rating', score: @edible.ratings.average(:score) %>
      <% end %>
    </div>
    <div class='flex flex-col gap-4'>
      <div class='flex flex-col gap-4'>
        <div>
          <h1 class='text-3xl font-bold'><%= @edible.name %></h1>
          <%= link_to @edible.brand.name, brand_path(@edible.brand), class: 'font-light' %>
        </div>
        <div class='flex gap-2'>
          <%= render 'shared/strain_popover', product: @edible %>
          <div class='flex gap-2 text-sm text-white bg-primary rounded-full p-2 w-fit'>
            <p><%= @edible.mg_per_serving %>mg</p>
            <p>per serving</p>
          </div>
          <div class='flex gap-2 text-sm text-white bg-primary rounded-full p-2 w-fit'>
            <p><%= @edible.food_type %></p>
          </div>
        </div>
      </div>
      <div class='flex gap-2'>
        <% @edible.effects.each do |effect| %>
          <%= effect_pill(effect.name) %>
        <% end %>
      </div>
      <% if @edible.ratings.any? %>
        <div class='flex flex-col gap-2'>
          <p class='font-bold'>Latest Review</p>
          <%= render 'ratings/rating_card', rating: @edible.latest_review %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='flex flex-col flex-1 gap-8'>
  </div>
  <%= turbo_frame_tag 'new_rating' do %>
  <% end %>
  <div>
    <div class='flex flex-col gap-4'>
      <p class='font-bold'>All Reviews</p>
      <% if @edible.ratings.any? %>
        <%= render partial: 'ratings/rating_card', collection: @edible.ratings, as: :rating %>
      <% else %>
        <%= render 'shared/no_reviews', ratable: @edible %>
      <% end %>
    </div>
  </div>
</div> 