<div class="h-full bg-primary flex items-center justify-center">
  <div
    class='
      max-w-96 h-fit flex flex-grow flex-col gap-2 rounded-md m-4 p-4 shadow-xl
      bg-white
    '
  >
    <div class=''>
      <div class='flex flex-col'>
        <h2 class='w-fit text-2xl font-bold mx-auto'>Sign up</h2>
        <p class='w-fit mx-auto'>Create your account!</p>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class='flex flex-col gap-8'>
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, class: "w-full", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field flex flex-col">
            <%= f.label :date_of_birth %>
            <%= f.date_field :date_of_birth %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>
                characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, class: "w-full", autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation,
                             class: "w-full",
                             autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "bg-primary text-white p-2 w-full rounded-md" %>
          </div>

          <div class='flex gap-1 mx-auto'>
            <p>Already have an account?</p>
            <%= link_to "Log in!", new_user_session_path, class: "text-blue-500" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
