<div class='flex flex-col gap-2 bg-primary-50 w-72 p-4 rounded'>
  <div>
    <%= image_tag flower.images.sample.variant(:thumb) %>
    <div class='flex items-center gap-2'>
      <h2 class='text-lg font-bold'><%= flower.name %></h2>
      <div class='flex text-xs text-white bg-primary rounded-full p-3 w-4 h-4 items-center justify-center'>
        <p><%= flower.strain.capitalize.first %></p>
      </div>
    </div>
    <div class='flex gap-4 mt-2'>
      <% if flower.ratings.any? %>
        <div class='flex gap-2 items-center'>
          <div class='text-xs'>
            <%= render 'shared/rating', score: flower.ratings.average(:score), text_size: 'text-xs' %>
            <p><%= flower.ratings.count %> reviews</p>
          </div>
        </div>
      <% end %>
      <%= link_to "Check it out!", flower_path(flower), class: 'text-sm hover:underline bg-secondary text-white rounded-full p-2' %>
    </div>
  </div>
</div>
