<div class='flex gap-2 m-4 p-2 bg-primary-50 rounded-md'>
  <div>
    <%= image_tag @flower.avatar.variant(:medium) %>
  </div>
  <div class='flex flex-col gap-2'>
    <h1 class='text-2xl font-bold'><%= @flower.name %></h1>
    <p><%= link_to @flower.brand.name, brand_path(@flower.brand) %></p>
    <%= render layout: 'shared/popover' do %>
      <div class='flex gap-2 items-center cursor-pointer bg-primary text-white rounded-md p-1'>
        <i class="fa-solid fa-dna"></i>
        <p><%= @flower.strain.capitalize %></p>
      </div>
      <% content_for :content do %>
        <p><%= @flower.strain_effects %></p>
      <% end %>
    <% end %>
    <div class='flex gap-2'>
      <% @flower.effects.each do |effect| %>
        <%= effect_pill(effect.name) %>
      <% end %>
    </div>
    <p>THC: <%= @flower.thc %>%</p>
  </div>
</div>

