<div class='flex flex-col md:flex-row items-center gap-4 m-4'>
  <div class='flex flex-col items-center gap-4 m-4'>
    <div class='flex items-center justify-center rounded-full bg-primary w-24 h-24'>
      <p class='text-4xl text-primary-50'><%= user.username.capitalize[0] %></p>
    </div>
    <div class='flex flex-col items-center gap-1'>
      <p class='font-bold'><%= user.username %></p>
      <%= render "users/profile_actions", user:, following: @following %>
    </div>
    <%= render "users/follower_counts", user: %>
  </div>
  <div class='flex flex-col gap-4'>
    <div class='flex flex-col gap-2 items-start'>
      <p>Experience Level</p>
      <p class='bg-primary text-primary-50 p-2 rounded-full text-center'><%= user.experience_level&.titleize %></p>
    </div>
    <div class='flex flex-col gap-2 items-start'>
      <p>Preferences</p>
      <div class='flex gap-2'>
        <% user.consumption_preferences.each do | pref | %>
          <% next if pref.empty? %>
          <p class='bg-primary text-primary-50 p-2 rounded-full text-center'><%= pref.titleize %></p>
        <% end %>

      </div>
    </div>
  </div>

</div>
