<div class='flex flex-col md:flex-row items-center gap-4 m-4'>
  <div class='flex flex-col items-center gap-4 m-4'>
    <div class='flex items-center justify-center rounded-full bg-primary w-24 h-24'>
      <p class='text-4xl text-primary-50'><%= user.username.capitalize[0] %></p>
    </div>
    <div class='flex items-center flex gap-1'>
      <p class='font-bold'><%= user.username %></p>
      <% if current_user.id == user.id %>
        <%= link_to edit_profile_path  do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
      <% end %>
      <% unless current_user.id == user.id %>
        <% if @following %>
          <%= button_to follow_path(@following.id), method: :delete do %>
            <i class='fa-solid fa-x'></i>
          <% end %>
        <% else %>
          <%= button_to follows_path, params: { user_id: user.id } do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class='flex gap-4'>
      <div class='flex flex-col items-center'>
        <p class='font-bold'><%= user.followers.size %></p>
        <p>Followers</p>
      </div>
      <div class='flex flex-col items-center'>
        <p class='font-bold'><%= user.followees.size %></p>
        <p>Following</p>
      </div>
    </div>
  </div>
  <div class='flex flex-col gap-4'>
    <div class='flex flex-col gap-2 items-start'>
      <p>Experience Level</p>
      <p class='bg-primary text-primary-50 p-2 rounded-full text-center'><%= user.experience_level.titleize %></p>
    </div>
    <div class='flex flex-col gap-2 items-start'>
      <p>Preferences</p>
      <div class='flex gap-2'>
        <% user.consumption_preferences.each do | pref | %>
          <% next if pref.empty? %>
          <p class='bg-primary text-primary-50 p-2 rounded-full text-center'><%= pref.titleize %></p>
        <% end %>

      </div>
    </div>
  </div>

</div>
