<div class="h-full bg-primary flex items-center justify-center">
  <div
    class="
      max-w-96 h-fit flex flex-grow flex-col gap-2 rounded-md m-4 p-4 shadow-xl
      bg-white
    "
  >
    <div class="flex flex-col">
      <h2 class="w-fit text-2xl font-bold mx-auto">Forgot your password?</h2>
      <p class="w-fit mx-auto">We'll send you reset instructions</p>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-1">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="flex">
          <%= f.submit "Send me reset instructions",
                   class: "w-full bg-primary text-white p-2 rounded-md" %>
        </div>

        <div class="flex gap-1 mx-auto">
          <p>Remember your password?</p>
          <%= link_to "Log in!", new_session_path(resource_name), class: "text-blue-500" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
