<%# locals: (rating: ) %>
<div class='flex flex-col gap-3 bg-primary-100 p-4 rounded-lg'>
  <div class='flex items-center gap-2'>
    <%= image_tag rating.user.avatar.variant(:small_thumb), class: 'rounded-full' %>
    <div class='flex flex-col'>
      <%= link_to rating.user.username, user_path(rating.user), class: 'hover:text-primary transition-colors' %>
      <p class='text-sm text-gray-500'><%= rating.user.ratings.count %> reviews</p>
    </div>
  </div>
  <div class='flex flex-col'>
    <%= render 'shared/rating', score: rating.score, text_size: "text-sm" %>
  </div>
  <div class='flex flex-col gap-2'>
    <p><%= rating.comment %></p>
    <% if rating.image.attached? %>
      <%= image_tag rating.image, class: 'w-full max-w-xs rounded-lg shadow-sm' %>
    <% end %>
    <div class="flex items-center justify-between">
      <p class='text-sm text-gray-500'><%= rating.created_at.strftime("%B %d, %Y") %></p>
      <%= render "likes/like_button", likeable: rating %>
    </div>
  </div>
</div>
