<div
  class="
    h-full bg-gradient-to-b from-primary from-0% via-primary via-35% to-gray-100
    to-35% flex items-center justify-center
  "
>

  <div
    class='
      max-w-96 h-fit flex flex-col gap-2 rounded-md m-4 p-4 shadow-xl bg-white
    '
  >

    <div class=''>
      <div class='flex flex-col '>
        <h2 class='w-fit text-2xl font-bold mx-auto'>Welcome!</h2>
        <p class='w=fit mx-auto'>Log in to your account!</p>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class='flex flex-col gap-8'>
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, class: "w-full", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br/>
            <%= f.password_field :password, class: "w-full", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class='flex justify-between'>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>

              <div class='field'>
                <%= link_to "Forgot?", new_password_path(resource_name), class: "text-blue-500" %>
              </div>

            </div>

          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: "bg-primary text-white p-2 w-full" %>
          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>
